@model sixteenBars.Library.Quote


@Styles.Render("~/Content/themes/base/css")
<h2>Add new Quote</h2>
<div ng-app="TrackApp">
    <div ng-controller="AlbumController">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "quoteForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>@ViewBag.ErrorMessage</h2>
            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Text)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Text)
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Explicit)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.Explicit)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Explanation)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Explanation)
                </div>

                <div class="editor-label">
                    Said By
                </div>
                <div class="editor-field">
                    <input type="text" id="Artist_Name" name="Artist.Name" ng-model="saidByArtistName" required ng-keyup="autoCompleteArtist()" />
                </div>
                <div ng-repeat="artist in artists">
                    <div ng-click="selectSuggestedArtist(artist.Name,'Artist_Name')" class="suggested-artist">{{artist.Name}}</div>
                </div>

                <div class="editor-label">
                    From Song
                </div>
                <div class="editor-field">
                    <input type="text" id="Track_Title" name="Track.Title" ng-model="trackTitle" required ng-keyup="autoCompleteTrack()" />
                </div>
                <div ng-repeat="track in tracks">
                    <div ng-click="selectSuggestedTrack(track.Title,track.Album.Title,track.Album.ReleaseDate,track.Album.Artist.Name,'albumTitle','Track_Album_ReleaseDate')" class="suggested-artist">{{track.Title}}</div>
                </div>
                

                <div class="editor-label">
                    From Album
                </div>
                <div class="editor-field">
                    <input type="text" id="Track_Album_Title" name="Track.Album.Title" ng-model="albumTitle" required ng-keyup="autoCompleteAlbum()" ng-blur="existTrack()" />
                </div>
                <div ng-repeat="album in albums">
                    <div ng-click="selectSuggestedAlbum(album.Title,album.ReleaseDate,album.Artist.Name,'albumTitle','Track_Album_ReleaseDate','Track_Album_Artist_Name')" class="suggested-artist">{{album.Title}}</div>
                </div>

                <div class="editor-label">
                    Album Artist
                </div>
                <div class="editor-field">
                    <input type="text" id="Track_Album_Artist_Name" ng-model="artistName" name="Track.Album.Artist.Name" required ng-blur="existTrack()" />
                </div>

                <div class="editor-label">
                    Album Release Date
                </div>
                <div class="editor-field">
                    <input type="text" id="Track_Album_ReleaseDate" ng-model="releaseDate" name="Track.Album.ReleaseDate" required ng-blur="existTrack()" />
                </div>





                <p>
                    <input type="submit" value="Add New Quote" />
                </p>
            </fieldset>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var minimumDate = new Date(1978, 1 - 1, 1);
            var today = new Date();
            var maximumDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
            $("#Track_Album_ReleaseDate").datepicker({ minDate: minimumDate, maxDate: maximumDate });
        });
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/sixteenbars-utilities.js"></script>
    <script src="~/Scripts/sixteenbars-track-app.js"></script>
    <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
    <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
    <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
}


