@model sixteenBars.Library.Quote


@Styles.Render("~/Content/themes/base/css")
<h1>Add New Quote</h1>
<div id="trackApp">
    <div ng-controller="AlbumController">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "quoteForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>@ViewBag.ErrorMessage</h2>
            <div class="form">
                <div class="form-label">
                    @Html.LabelFor(model => model.Text)
                </div>
                <div class="form-element">
                    @Html.TextAreaFor(model => model.Text,new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Explicit)
                </div>
                <div class="form-element">
                    @Html.CheckBoxFor(model => model.Explicit)
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Timestamp)
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Timestamp, new { @class = "form-control" })
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Explanation)
                </div>
                <div class="form-element">
                    @Html.TextAreaFor(model => model.Explanation, new { @class = "form-control" })
                </div>

                <div class="form-label">
                    <label for="">Said By</label>
                </div>
                <div class="form-element">
                    <input type="text" id="Artist_Name" name="Artist.Name" ng-model="saidByArtistName" required ng-keyup="autoCompleteArtist('saidByArtistName')" class="form-control" />

                    <div class="suggestions speaker-suggestions">
                        <p><strong>Suggested Artist(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Artists Found</p>
                        <div class="suggestion" ng-repeat="speaker in speakers">
                            <div ng-click="selectSuggestedArtist(speaker.Name,'Artist_Name')" class="suggested-artist">{{speaker.Name}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-label">
                    <label for="Track.Title">From Song</label>
                </div>
                <div class="form-element">
                    <input type="text" id="Track_Title" name="Track.Title" ng-model="trackTitle" required ng-keyup="autoCompleteTrack()"  class="form-control"/>
                    <div class="suggestions track-suggestions">
                        <p><strong>Suggested Track(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Tracks Found</p>
                        <div class="suggestion" ng-repeat="track in tracks">
                            <div ng-click="selectSuggestedTrack(track.Title,track.Album.Title,track.Album.ReleaseDate,track.Album.Artist.Name,'albumTitle','Track_Album_ReleaseDate')" class="suggested-artist">{{track.Title}}</div>
                        </div>
                    </div>
                </div>
                

                <div class="form-label">
                    <label for="Track.Album.Title">From Album</label>
                </div>
                <div class="form-element">
                    <input type="text" id="Track_Album_Title" name="Track.Album.Title" ng-model="albumTitle" required ng-keyup="autoCompleteAlbum()" ng-blur="existTrack()" class="form-control" />
                    <div class="suggestions album-suggestions">
                        <p><strong>Suggested Album(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Albums Found</p>
                        <div class="suggestion" ng-repeat="album in albums">
                            <div ng-click="selectSuggestedAlbum(album.Title,album.ReleaseDate,album.Artist.Name,'albumTitle','Track_Album_ReleaseDate','Track_Album_Artist_Name')" class="suggested-artist">{{album.Title}}</div>
                        </div>
                    </div>
                </div>

                <div class="form-label">
                    <label for="Track.Album.Artist.Name">Album Artist</label>
                </div>
                <div class="form-element">
                    <input type="text" id="Track_Album_Artist_Name" ng-model="artistName" name="Track.Album.Artist.Name" required ng-blur="existTrack()" ng-keyup="autoCompleteArtist('artistName')" class="form-control" />
                    <div class="suggestions artist-suggestions">
                        <p><strong>Suggested Artist(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Artists Found</p>
                        <div class="suggestion" ng-repeat="artist in artists">
                            <div ng-click="selectSuggestedArtist(artist.Name,'artistName')" class="suggested-artist">{{artist.Name}}</div>
                        </div>
                    </div>
                </div>

                <div class="form-label">
                    <label for="Track.Album.ReleaseDate">Album Release Date</label>
                </div>
                <div class="form-element">
                    <input type="text" id="Track_Album_ReleaseDate" ng-model="releaseDate" name="Track.Album.ReleaseDate" required ng-blur="existTrack()" class="form-control" />
                </div>

                <p>
                    <input type="submit" value="Add Quote" class="btn" />
                    @Html.ActionLink("Cancel", "Index", "Quote",null, new { @class = "btn btn-inverse" })
                </p>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var minimumDate = new Date(1978, 1 - 1, 1);
            var today = new Date();
            var maximumDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
            $("#Track_Album_ReleaseDate").datepicker({ minDate: minimumDate, maxDate: maximumDate });
        });

        

    </script>
    
    <script src="~/Scripts/sixteenbars-track-app.js"></script>
    <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
    <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
    <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
}


