@model sixteenBars.Models.QuoteViewModel

<h2>Delete</h2>

<h3>Are you sure you want to delete this quote?</h3>
<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Artists)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArtistName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Tracks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrackName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
