@model sixteenBars.Models.QuoteViewModel


<h2>Quote Details</h2>
@if (Model.Id > 0) { 
<fieldset>
    <legend>Quote</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field quote">
        @Html.DisplayFor(model => model.Text)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Explanation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Explanation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Artists)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.ArtistName, "details","artist", new { id=Model.ArtistId}, null)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tracks)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.TrackName, "details", "track", new { id = Model.TrackId }, null)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Albums)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.AlbumName, "details", "album", new { id = Model.AlbumId }, null)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AlbumArtistName)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.AlbumArtistName, "details", "artist", new { id = Model.AlbumArtistId }, null)
    </div>

</fieldset>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("editor")) {
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id })
        @: | 
    }
    @Html.ActionLink("Back to List", "Index")
</p>
}
else { 
<p>No Quote Found.</p>
}

