@model sixteenBars.Models.QuoteViewModel


<h1>Quote Details</h1>
@if (Model.Id > 0)
{
    <h2>
        "@Html.Raw(Model.Text)" -
        @Html.ActionLink(Model.ArtistName, "details", "artist", new { id = Model.ArtistId }, null)
    </h2>

    <p>
        <strong>
            Meaning
        </strong>
        <br />
        @Html.DisplayFor(model => model.Explanation)
    </p>


    <div class="row lower-details">
        <div class="col-md-4">
            Track :

            @Html.ActionLink(Model.TrackName, "details", "track", new { id = Model.TrackId }, null)
        </div>

        <div class="col-md-4">
            Album :

            @Html.ActionLink(Model.AlbumName, "details", "album", new { id = Model.AlbumId }, null)
        </div>

        <div class="col-md-4">
            Artist :

            @Html.ActionLink(Model.AlbumArtistName, "details", "artist", new { id = Model.AlbumArtistId }, null)
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index", "Quote", new { @class = "btn btn-back" })
        @if (User.IsInRole("admin") || User.IsInRole("editor"))
        {
            @: &nbsp;
            @Html.ActionLink("Edit", "Edit", "Quote", new { id = Model.Id }, new { @class = "btn btn-edit" })
            @: &nbsp;
            @Html.ActionLink("Delete", "Delete", "Quote", new { id = Model.Id }, new { @class = "btn btn-remove" })
        }
    </div>

}
else
{
    <p>No Quote Found.</p>
}

@section Scripts {
    <script>
        $("body").on("click", ".word", function (e) {
            var txt = "";
            var attr = $(e.target).attr("class");
            if (attr != undefined) {
                txt = attr.replace(" word", "");
            }
            window.location.href = siteURL + "?word=" + txt;
        });
    </script>
}
