@model sixteenBars.Library.Quote

    @Styles.Render("~/Content/themes/base/css")
    <h1>Edit Quote</h1>

    <div id="trackApp">
    <div ng-controller="AlbumController">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>@ViewBag.ErrorMessage</h2>
            <div class="form">
                @Html.Hidden("previousQuote", Model.ToString())
                @Html.HiddenFor(model => model.QuoteId)
                @{Model.Text = Model.FormattedText; }
                <div class="form-label">
                    @Html.LabelFor(model => model.Enabled)
                </div>
                <div class="form-element">
                    @Html.CheckBoxFor(model => model.Enabled)
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Text)
                </div>
                <div class="form-element">
                    @Html.TextAreaFor(model => model.Text,new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Explicit)
                </div>
                <div class="form-element">
                    @Html.CheckBoxFor(model => model.Explicit)
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Timestamp)
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Timestamp, new { @class = "form-control" })
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Explanation)
                </div>
                <div class="form-element">
                    @Html.TextAreaFor(model => model.Explanation, new { @class="form-control"})
                </div>

                <div class="form-label">
                    <label for="">Said By</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Artist.Name, new { ng_model = "saidByArtistName", ng_keyup = "autoCompleteArtist('saidByArtistName')", ng_init = string.Format("saidByArtistName = '{0}'", Model.Artist.Name),@class = "form-control" })
                    <div class="suggestions speaker-suggestions">
                        <p><strong>Suggested Artist(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Artists Found</p>
                        <div class="suggestion" ng-repeat="speaker in speakers">
                            <div ng-click="selectSuggestedArtist(speaker.Name,'Artist_Name')" class="suggested-artist">{{speaker.Name}}</div>
                        </div>
                    </div>
                </div>


                <div class="form-label">
                    <label for="Track.Title">From Song</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Track.Title, new { ng_model = "trackTitle", ng_keyup = "autoCompleteTrack()", ng_init = string.Format("trackTitle = '{0}'", Model.Track.Title), @class = "form-control" })
                    <div class="suggestions track-suggestions">
                        <p><strong>Suggested Track(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Tracks Found</p>
                        <div class="suggestion" ng-repeat="track in tracks">
                            <div ng-click="selectSuggestedTrack(track.Title,track.Album.Title,track.Album.ReleaseDate,track.Album.Artist.Name,'albumTitle','Track_Album_ReleaseDate')" class="suggested-artist">{{track.Title}}</div>
                        </div>
                    </div>
                </div>
                


                <div class="form-label">
                    <label for="Track.Album.Title">From Album</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Track.Album.Title, new { ng_model = "albumTitle", ng_keyup = "autoCompleteAlbum()", ng_blur="existTrack()" ,ng_init = string.Format("albumTitle = '{0}'", Model.Track.Album.Title), @class = "form-control" })
                    <div class="suggestions album-suggestions">
                        <p><strong>Suggested Album(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Albums Found</p>
                        <div class="suggestion" ng-repeat="album in albums">
                            <div ng-click="selectSuggestedAlbum(album.Title,album.ReleaseDate,album.Artist.Name,'albumTitle','Track_Album_ReleaseDate','Track_Album_Artist_Name')" class="suggested-artist">{{album.Title}}</div>
                        </div>
                    </div>
                </div>
               

                <div class="form-label">
                    <label for="Track.Album.Artist.Name">Album Artist</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Track.Album.Artist.Name, new { ng_model = "artistName", ng_blur = "existTrack()", ng_keyup = "autoCompleteArtist('artistName')", ng_init = string.Format("artistName = '{0}'", Model.Track.Album.Artist.Name), @class = "form-control" })
                    <div class="suggestions artist-suggestions">
                        <p><strong>Suggested Artist(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Artists Found</p>
                        <div class="suggestion" ng-repeat="artist in artists">
                            <div ng-click="selectSuggestedArtist(artist.Name,'artistName')" class="suggested-artist">{{artist.Name}}</div>
                        </div>
                    </div>
                </div>

                <div class="form-label">
                    <label for="Track.Album.ReleaseDate">Album Release Date</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Track.Album.ReleaseDate, new { ng_model = "releaseDate", ng_blur = "existTrack()", ng_init = string.Format("releaseDate = '{0}'", Model.Track.Album.ReleaseDate != null ? Model.Track.Album.ReleaseDate.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy")), @class = "form-control" })
                </div>
                
                <div>
                    <input type="submit" value="Save" class="btn" />
                    @Html.ActionLink("Cancel", "Index", "Quote",null, new { @class = "btn btn-inverse" })
                </div>
            </div>
        }
    </div>
</div>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryui")
                @Scripts.Render("~/bundles/jqueryval")
                <script>
                    $(document).ready(function () {
                        var minimumDate = new Date(1978, 1 - 1, 1);
                        var today = new Date();
                        var maximumDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
                        $("#Track_Album_ReleaseDate").datepicker({ minDate: minimumDate, maxDate: maximumDate });
                    });
                </script>
                <script src="~/Scripts/sixteenbars-track-app.js"></script>
                <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
                <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
                <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
            }
