@model sixteenBars.Models.QuoteViewModel

@Styles.Render("~/Content/themes/base/css")
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Quote</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Explicit)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Explicit)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Explanation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Explanation)
        </div>

        <hr />
        <div class="col-md-3">
            <div class="editor-label">
                @Html.LabelFor(model => model.Artists)
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(model => model.ArtistId, Model.Artists, "Select Artist")
                <div id="newArtistName">
                    @Html.LabelFor(model => model.ArtistName)
                    @Html.EditorFor(model => model.ArtistName)
                </div>
                @Html.ValidationMessageFor(model => model.ArtistId)
            </div>
        </div>
        <div id="artistInfo" class="col-md-9"></div>
        <div class="clear-fix"></div>
        <hr />

        <div class="editor-label">
            @Html.LabelFor(model => model.Tracks)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TrackId, Model.Tracks, "Select Song")
            <div id="newTrackName">
                @Html.LabelFor(model => model.TrackName)
                @Html.EditorFor(model => model.TrackName)
            </div>
            @Html.ValidationMessageFor(model => model.TrackId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TrackReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrackReleaseDate)
        </div>

        <hr />
        <div class="editor-label">
            @Html.LabelFor(model => model.Albums)
        </div>
        <div id="albumImage"></div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AlbumId, Model.Albums, "Select Album")
            @Html.EditorFor(model => model.AlbumName)
            @Html.ValidationMessageFor(model => model.AlbumId)
        </div>
        <div id="albumInfo">
            <div class="editor-label">
                @Html.LabelFor(model => model.AlbumArtists)
            </div>
            <div id="albumArtistInfo"></div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.AlbumArtistId, Model.AlbumArtists, "Select Artist")
                @Html.EditorFor(model => model.AlbumArtistName)
                @Html.ValidationMessageFor(model => model.AlbumArtistId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AlbumReleaseDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AlbumReleaseDate)
            </div>
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sixteenbars")
    @Scripts.Render("~/bundles/lastfm")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            initialize("TrackReleaseDate", "AlbumReleaseDate", false);
        });
    </script>
    <script src="~/Scripts/sixteenbars-lastfm.js"></script>
}
