@model sixteenBars.Library.Quote

    @Styles.Render("~/Content/themes/base/css")
    <h2>Edit Quote</h2>
    <div ng-app="TrackApp">
    <div ng-controller="AlbumController">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Quote</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Text)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Text)
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Explicit)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.Explicit)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Explanation)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Explanation)
                </div>

                <div class="editor-label">
                    Said By
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Artist.Name, new { ng_model = "saidByArtistName", ng_keyup = "autoCompleteArtist()", ng_init = string.Format("saidByArtistName = '{0}'", Model.Artist.Name) })
                </div>
                <div ng-repeat="artist in artists">
                    <div ng-click="selectSuggestedArtist(artist.Name,'Artist_Name')" class="suggested-artist">{{artist.Name}}</div>
                </div>

                <div class="editor-label">
                    From Song
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Track.Title, new { ng_model = "trackTitle", ng_keyup = "autoCompleteTrack()", ng_init = string.Format("trackTitle = '{0}'", Model.Track.Title) })
                </div>
                <div ng-repeat="track in tracks">
                    <div ng-click="selectSuggestedTrack(track.Title,track.Album.Title,track.Album.ReleaseDate,track.Album.Artist.Name,'albumTitle','Track_Album_ReleaseDate')" class="suggested-artist">{{track.Title}}</div>
                </div>


                <div class="editor-label">
                    From Album
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Track.Album.Title, new { ng_model = "albumTitle", ng_keyup = "autoCompleteAlbum()", ng_blur="existTrack()" ,ng_init = string.Format("albumTitle = '{0}'", Model.Track.Album.Title) })
                </div>
                <div ng-repeat="album in albums">
                    <div ng-click="selectSuggestedAlbum(album.Title,album.ReleaseDate,album.Artist.Name,'albumTitle','Track_Album_ReleaseDate','Track_Album_Artist_Name')" class="suggested-artist">{{album.Title}}</div>
                </div>

                <div class="editor-label">
                    Album Artist
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Track.Album.Artist.Name, new { ng_model = "artistName", ng_blur = "existTrack()", ng_init = string.Format("artistName = '{0}'", Model.Track.Album.Artist.Name) })
                </div>

                <div class="editor-label">
                    Album Release Date
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Track.Album.ReleaseDate, new { ng_model = "releaseDate", ng_blur = "existTrack()", ng_init = string.Format("releaseDate = '{0}'", Model.Track.Album.ReleaseDate) })
                </div>
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryui")
                @Scripts.Render("~/bundles/jqueryval")
                <script>
                    $(document).ready(function () {
                        var minimumDate = new Date(1978, 1 - 1, 1);
                        var today = new Date();
                        var maximumDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
                        $("#Track_Album_ReleaseDate").datepicker({ minDate: minimumDate, maxDate: maximumDate });
                    });
                </script>
                <script src="~/Scripts/angular.min.js"></script>
                <script src="~/Scripts/sixteenbars-utilities.js"></script>
                <script src="~/Scripts/sixteenbars-track-app.js"></script>
                <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
                <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
                <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
            }
