@model sixteenBars.Models.AlbumDetailsViewModel
@using sixteenBars.Library;

@if (Model != null)
{

    <div id="trackApp">
        <div ng-controller="AlbumController">
            <h1>
                @Html.DisplayFor(model => model.Title)
            </h1>
            @Html.TextBoxFor(model => model.Title, new { ng_model = "amzTitle", ng_init = string.Format("amzTitle = '{0}'", Url.Encode(Model.Title)), style = "display:none;" })
            @Html.TextBoxFor(model => model.ArtistName, new { ng_model = "amzArtistName", ng_init = string.Format("amzArtistName = '{0}'", Url.Encode(Model.ArtistName)), style = "display:none;" })
            <input type="hidden" ng-model="amzType" ng-init="amzType='album'" />
            <div class="row lower-details">
                
                    <div class="col-md-7 albumArt">
                        <img class="img-responsive" src="@Html.Raw(Model.Image)" />
                    </div>

                


                <div class="col-md-5">
                    <p>
                        @if (Model.ArtistId != null && Model.ArtistName !=null)
                        {
                            <strong>Artist</strong> @Html.ActionLink(Model.ArtistName, URLClean.Clean(Model.ArtistName), "Artists")
                        }
                    </p>
                    <p>
                        <strong>Release Date</strong> : @String.Format("{0:MM/dd/yyyy}", Model.ReleaseDate)
                    </p>
                    @if (ViewBag.PurchaseLinks.Length > 0)
                    {
                        <div>
                            <hr />
                            <h4>Get This Track</h4>
                            @Html.Raw(ViewBag.PurchaseLinks)
                        </div>
                    }
                </div>
            </div>
            
            <div>
                <h2>Tracks</h2>
                <div class="index-list">
                    @if (Model.Tracks != null)
                    {
                        foreach (var track in Model.Tracks)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.ActionLink(track.Title, URLClean.Clean(track.Album.Title) + "/" + URLClean.Clean(track.Title), "Tracks")
                                </div>
                            </div>
                        }
                    }else{
                    @:No Tracks Found
                    }
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:15px;">
        @Html.ActionLink("Back to List", "Index", "Album",null, new { @class = "btn btn-back" })
        @if (User.IsInRole("admin") || User.IsInRole("editor"))
        {
            @: &nbsp;
            @Html.ActionLink("Edit", "Edit", "Album", new { id = Model.Id }, new { @class = "btn btn-edit" })
            if (User.IsInRole("admin"))
                        {
            @: &nbsp;
            @Html.ActionLink("Delete", "Delete", "Album", new { id = Model.Id }, new { @class = "btn btn-remove" })
        }
        }
    </div>
    @section Scripts{
        @Scripts.Render("~/bundles/sixteenbars")


        <script src="~/Scripts/sixteenbars-track-app.js"></script>
        <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
        <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
        <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>




    }
}
else
{
    <p>Album Not Found</p>
}
