@model sixteenBars.Library.Album


<h2>Album Details</h2>
@if (Model != null)
{
<fieldset>
    <legend>Album</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div id="albumInfo">
    </div>
    
    <div class="display-label">
        Artist Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist.Name)
    </div>
    <div id="artistInfo" class="artist-block">
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @String.Format("{0:MM/dd/yyyy}",Model.ReleaseDate)
    </div>
   
</fieldset>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("editor")) { 
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) 
        @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    @Scripts.Render("~/bundles/sixteenbars")
    @Scripts.Render("~/bundles/lastfm")

    <script>

    $(document).ready(function () {
       getArtistInfo('@Model.Artist.Name', "artistInfo", "");
        getAlbumInfo('@Model.Artist.Name', '@Model.Title', "albumInfo");
    });
    </script>

    <script src="~/Scripts/sixteenbars-lastfm.js"></script>
}
}else{
<p>Album Not Found</p>
}