@model sixteenBars.Library.Album


<h1>Album Details</h1>
@if (Model != null)
{


    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <div class="row">
        <div class="col-md-3" id="albumInfo">
        </div>
        <div class="col-md-9">
            <p>
                <strong>Artist</strong> : @Html.ActionLink(Model.Artist.Name, "Details", "Artist", new { id = Model.Artist.Id }, null)
            </p>
            <p>
                <strong>Release Date</strong> : @String.Format("{0:MM/dd/yyyy}", Model.ReleaseDate)
            </p>
        </div>
    </div>

    <div style="margin-top:15px;">
        @Html.ActionLink("Back to List", "Index", "Album", new { @class = "btn btn-back" })
        @if (User.IsInRole("admin") || User.IsInRole("editor"))
        {
            @: &nbsp;
            @Html.ActionLink("Edit", "Edit", "Album", new { id = Model.Id }, new { @class = "btn btn-edit" })
            @: &nbsp;
            @Html.ActionLink("Delete", "Delete", "Album", new { id = Model.Id }, new { @class = "btn btn-remove" })
        }
    </div>
    @section Scripts{
        @Scripts.Render("~/bundles/sixteenbars")
        
    }
}
else
{
    <p>Album Not Found</p>
}