@model sixteenBars.Library.Album

@Styles.Render("~/Content/themes/base/css")
<h1>Edit Album</h1>
@if (Model != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2>@ViewBag.ErrorMessage</h2>
        
        <div class="form">
            <div id="trackApp">
                <div ng-controller="AlbumController">

                    @Html.HiddenFor(model => model.AlbumId)
                    <div class="form-label">
                        @Html.LabelFor(model => model.Enabled)
                    </div>
                    <div class="form-element">
                        @if (User.IsInRole("Admin"))
                        {
                        @Html.EditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled)
                        }
                        else
                        {
                            <span>@Model.Enabled</span>
                        }
                    </div>
                    <div class="form-label">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div class="form-element">
                        @Html.TextBoxFor(model => model.Title,new {@class="form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>

                    <div class="form-label">
                        @Html.LabelFor(model => model.Artist.Name)
                    </div>
                    <div class="form-element">
                        @Html.TextBoxFor(model => model.Artist.Name, new { ng_model = "artistName", ng_keyup = "autoCompleteArtist('artistName')", ng_init = string.Format("artistName = \"{0}\"", Model.Artist.Name) ,@class="form-control"})
                        @Html.ValidationMessageFor(model => model.Artist.Name)
                        <div class="suggestions artist-suggestions">
                            <p><strong>Suggested Artist(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                            <img class="loading" src="~/Images/loading.gif" alt="loading" />
                            <p class="empty">No Artists Found</p>
                            <div class="suggestion" ng-repeat="artist in artists">
                                <div ng-click="selectSuggestedArtist(artist.Name,'artistName')" class="suggested-artist">{{artist.Name}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-label">
                        @Html.LabelFor(model => model.ReleaseDate)
                    </div>
                    <div class="form-element">
                        @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReleaseDate)
                    </div>

                    @Html.Hidden("previousAlbum", Model.ToString())

                    <div class="form-label">
                        @Html.LabelFor(model => model.Image)
                    </div>
                    <div class="form-element">
                        @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>
                    <div class="form-label">
                        @Html.LabelFor(model => model.ImageCopyright)
                    </div>
                    <div class="form-element">
                        @Html.TextBoxFor(model => model.ImageCopyright, new { @class = "form-control" })
                    </div>
                    <div style="margin:15px 0">
                        <input type="submit" value="Save" class="btn" />
                        @Html.ActionLink("Cancel", "Index", "Album",null, new { @class = "btn btn-inverse" })
                    </div>
                </div>
            </div>
        </div>
    }
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/sixteenbars")
        <script>

            $(document).ready(function () {
                initialize("", "ReleaseDate", true);
            });
        </script>

        <script src="~/Scripts/sixteenbars-track-app.js"></script>
        <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
        <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
        <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
    }
}
else
{
    <p>Album Not Found</p>
}
