@model PagedList.IPagedList<sixteenBars.Models.AlbumIndexViewModel>
@using PagedList.Mvc;
@using sixteenBars.Library;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Albums</h2>
@if (User.IsInRole("admin") || User.IsInRole("editor"))
{
    <p>
        @Html.ActionLink("Add Album", "Create","Album",null, new { @class = "btn btn-add" })
    </p>
}
@if (Model.PageCount > 0)
{
    <div class="index-list">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-7">
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        if (item.Enabled == false)
                        {
                            <div class="glyphicon glyphicon-ban-circle disabledItem"></div>
                        }
                    }
                    @Html.ActionLink(item.Title, URLClean.Clean(item.ArtistName) + "/" + URLClean.Clean(item.Title), "Albums")
                </div>
                <div class="col-md-3">
                    Artist : 
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        if (item.Artist.Enabled == false)
                        {
                            <div class="glyphicon glyphicon-ban-circle disabledItem"></div>
                        }
                    }
                    @Html.ActionLink(item.ArtistName, URLClean.Clean(item.ArtistName), "Artists")
                </div>
                <div class="col-md-2">

                    @if (User.IsInRole("admin") || User.IsInRole("editor"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                        if (item.IsDeleteable && User.IsInRole("admin"))
                        {

                            @: &nbsp; @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    }
                </div>
            </div>
        }
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        <div class="clearfix"></div>
    </div>
}
else
{
    <p>No Albums Found</p>
}
