@model sixteenBars.Library.Artist


<h2>Add New Artist</h2>
<div ng-app="ArtistApp">
    <div ng-controller="ArtistController">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "quoteForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>

                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    <input type="text" id="Name" ng-blur="autoCompleteArtistName()" ng-model="ArtistName" name="Name" placeholder="Artist Name" required />
                </div>
                <div ng-show="artistExists">
                    This artist was already added by another user.
                </div>
                <p ng-show="artistExistsSubmit">
                    <input type="submit" value="Add New Artist" />
                </p>
            </fieldset>

        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/sixteenbars-artist-exists.js"></script>
}
