@model sixteenBars.Models.ArtistDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Artist</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Quotes)
    </div>
    <div class="display-field">
        <ul>
            @foreach (var item in Model.Quotes)
            {
                <li>
                    @Html.Raw(item.Text) |
                    @Html.ActionLink("Details", "Details", "Quote", new { id = item.Id }, null)
                </li>
            }
        </ul>
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Albums)
    </div>
    <div class="display-field">
        <ul>
            @foreach (var item in Model.Albums)
            {
                <li>
                    @Html.Raw(item.Title) |
                    @Html.ActionLink("Details", "Details", "Album", new { id=item.Id},null)
                </li>
            }
        </ul>
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
