@model sixteenBars.Models.ArtistDetailViewModel
@using sixteenBars.Library;

<h1>Artist Details</h1>
@if (Model.Id > 0 && !String.IsNullOrEmpty(Model.Name))
{
    <h2>
        @Html.DisplayFor(model => model.Name)
    </h2>

    <div id="artistInfo" class="artist-block">
    </div>
    <div class="clear-fix"></div>

    <div style="clear:both">
        <hr />
        <h3>Quotes</h3>

        @if (Model.Quotes.Count < 1)
        {
            <p>No Quotes Found</p>
        }
        else
        {
            <div class="index-list">
                @foreach (var item in Model.Quotes)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <span class="quote">@Html.Raw(item.Text) </span>
                            
                            @Html.ActionLink("details", URLClean.Clean(item.Artist.Name) + "/" + URLClean.Clean(item.Text), "Quotes")
                        </div>
                    </div>
                }
            </div>
        }

    </div>
    <div style="clear:both;margin-bottom:15px;">
        <h3>Albums</h3>

        @if (Model.Albums.Count < 1)
        {
            <p>No Albums Found</p>
        }
        else
        {
            <div class="index-list">
                @foreach (var item in Model.Albums)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ActionLink(item.Title, URLClean.Clean(item.Artist.Name) + "/" + URLClean.Clean(item.Title), "Albums")
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index", "Artist", new { @class = "btn btn-back" })
        @if (User.IsInRole("admin") || User.IsInRole("editor"))
        {
            @: &nbsp;
            @Html.ActionLink("Edit", "Edit", "Artist", new { id = Model.Id }, new { @class = "btn btn-edit" })
        }
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Delete", "Delete", "Artist", new { id = Model.Id }, new { @class = "btn btn-remove" })
        }
        
    </div>


    @section Scripts{
        @Scripts.Render("~/bundles/sixteenbars")
        
    }
}
else
{
    <p>No Artist Found</p>
}
