@model sixteenBars.Models.ArtistDetailViewModel
@using sixteenBars.Library;

<h1>
    @Model.Name
</h1>
@if (Model.Id > 0 && !String.IsNullOrEmpty(Model.Name))
{
    <div class="row lower-details">
        <div id="artistInfo" class="col-md-5 artist-block">
            @if (!String.IsNullOrWhiteSpace(Model.Image))
            {
                <img class="img-responsive" src="@Model.Image" />
            }
            else
            {
                <img class="img-responsive" src="http://www.rhyme4rhyme.com/Images/rhyme-4-rhyme-logo.png" />
            }
            <div style="clear:both"></div>
        </div>
        <div class="col-md-7">
            <h2>Quotes</h2>
            @if (Model.Quotes.Count < 1)
            {
            <p>No Quotes Found</p>
            }
            else
            {
            <div >
                @foreach (var item in Model.Quotes)
                    {
                    <div class="row">
                        <div class="col-md-12">
                            <span class="quote">@Html.ActionLink(item.Text, URLClean.Clean(item.Artist.Name) + "/" + URLClean.Clean(item.Text), "Quotes")</span>
                        </div>
                    </div>
                    }
            </div>
            }


            <div style="clear:both;margin-bottom:15px;">
                <h2>Albums</h2>

                @if (Model.Albums.Count < 1)
            {
            <p>No Albums Found</p>
            }
            else
            {
            <div>
                @foreach (var item in Model.Albums)
                    {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ActionLink(item.Title, URLClean.Clean(item.Artist.Name) + "/" + URLClean.Clean(item.Title), "Albums")
                        </div>
                    </div>
                    }
            </div>
            }
            </div>
        </div>
    </div>
        <div>
            @Html.ActionLink("Back to List", "Index", "Artist", null, new { @class = "btn btn-back" })
            @if (User.IsInRole("admin") || User.IsInRole("editor"))
            {
                @Html.ActionLink("Edit", "Edit", "Artist", new { id = Model.Id }, new { @class = "btn btn-edit" })
            }
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", "Artist", new { id = Model.Id }, new { @class = "btn btn-remove" })
            }

        </div>


        @section Scripts{
            @Scripts.Render("~/bundles/sixteenbars")

        }
}
else
{
    <p>No Artist Found</p>
}
