@model sixteenBars.Models.ArtistDetailViewModel


<h2>Artist Details</h2>
@if (Model.Id > 0 && !String.IsNullOrEmpty(Model.Name) ) { 
<fieldset>
    <legend>Artist</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div id="artistInfo" class="artist-block">
    </div>
    <div class="clear-fix"></div>

    <hr />
    <h2>Quotes</h2>
    <div class="display-field">
        @if (Model.Quotes.Count < 1) {
            <p>No Quotes Found</p>
        }
        else { 
        <ul>
            @foreach (var item in Model.Quotes)
            {
                <li>
                    @Html.Raw(item.Text) |
                    @Html.ActionLink("Details", "Details", "Quote", new { id = item.Id }, null)
                </li>
            }
        </ul>
        }
    </div>
    <hr/>
    <h2>Albums</h2>
    <div class="display-field">
        @if (Model.Albums.Count < 1)
        {
            <p>No Albums Found</p>
        }
        else
        {
        <ul>
            @foreach (var item in Model.Albums)
            {
                <li>
                    @Html.Raw(item.Title) |
                    @Html.ActionLink("Details", "Details", "Album", new { id=item.Id},null)
                </li>
            }
        </ul>
        }
    </div>
    
</fieldset>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("editor")) { 
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) 
        @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
    
    
    @section Scripts{
    @Scripts.Render("~/bundles/sixteenbars")
    @Scripts.Render("~/bundles/lastfm")

    <script>

        $(document).ready(function () {
            getArtistInfo('@Model.Name', "artistInfo", "");
        });
    </script>

    <script src="~/Scripts/sixteenbars-lastfm.js"></script>
    }
}
else
{
    <p>No Artist Found</p>
}
