@model sixteenBars.Library.Artist
<h1>Edit Artist</h1>
@if (Model != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ArtistId)
        <div class="form">
            <div class="form-label">
                @Html.LabelFor(model => model.Enabled)
            </div>
            <div class="form-element">
                @if (User.IsInRole("Admin"))
                {
                    @Html.EditorFor(model => model.Enabled)
                }
                else
                {
                    <span>@Model.Enabled</span>
                }
            </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="form-element">
                    @Html.TextBox("Name",Model.Name, new { @class="form-control"})
                    @Html.Hidden("previousArtist",Model.ToString())
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            <div class="form-label">
                @Html.LabelFor(model => model.Image)
            </div>
            <div class="form-element">
                @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @type = "url" })
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-back" />
                
                @Html.ActionLink("Cancel", "Index", "Artist",null, new { @class = "btn btn-inverse" })
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    <p>No Artist Found</p>
}
