@model PagedList.IPagedList<sixteenBars.Models.ArtistIndexViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Artists</h2>

@if (User.IsInRole("admin") || User.IsInRole("editor"))
{
    <p>
        @Html.ActionLink("Add Artist", "Create","Artist", new { @class = "btn btn-add" })
    </p>
}
@if (Model != null)
{

    <div class="index-list">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-11">
                    @Html.DisplayFor(modelItem => item.Name)<br/>@Html.ActionLink("details", "Details", new { id = item.Id })
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("admin") || User.IsInRole("editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        if (item.IsDeleteable && User.IsInRole("admin"))
                        {
                            @:<br/> @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    }
                </div>

            </div>
        }
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        <div class="clearfix"></div>
            </div>
}
        else
        {
        <p>No Artists Found</p>
        }
<hr />
<div class="col-md-12">
    <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "rhy4rhy-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "99366fd5778d915842cc778984d7eddb";
        amzn_assoc_search_bar = "false";
        amzn_assoc_title = "Music Accessories";
        amzn_assoc_asins = "B011SLD1NC,B008EQ1YUC,B008CQVSXC,B00PQWIZPY";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>