@model IEnumerable<String>
@{
    ViewBag.Title = "UserEdit";
}
<h1>Edit User Role</h1>
<h2>Username : @ViewBag.Username</h2>
@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage</p>
    }
    <div class="form-group row">
        <label class="col-md-2" for="newUserRoles">Roles</label>
        <div class="col-md-10">
            @Html.ListBox("newUserRoles", new MultiSelectList(ViewBag.Roles, ViewBag.SelectedRoles), new { @class = "form-control" })
            @Html.Hidden("username", (object)ViewBag.Username)
        </div>
    </div>
    
        <input class="col-md-offset-2 btn btn-default" type="submit" />
    
}