@model sixteenBars.Models.TrackViewModel

<h2>Add New Track</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div ng-app="TrackApp">
        <div ng-controller="TrackController">
            <form name="trackForm">
                <fieldset>
                    <legend>Track</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>


                    <div class="editor-label">
                        @Html.LabelFor(model => model.ArtistName)
                    </div>
                    <div class="editor-field">
                        <input type="text" id="artistName" ng-keyup="autoCompleteArtist('artistName')" ng-model="artistName" name="ArtistName" required />
                        <span style="color:red;" ng-show="trackForm.artistName.$dirty && trackForm.artistName.$invalid">
                            <span ng-show="trackForm.artistName.$error.required">
                                Artist Name is required.
                            </span>
                        </span>
                    </div>

                    <div ng-repeat="artist in artists">
                        <div class="suggested-artist" ng-click="selectSuggestedArtist(artist.Name,'artistName')">{{artist.Name}}</div>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.AlbumName)
                    </div>
                    <div class="editor-field">
                        <input type="text" id="albumName" name="AlbumName" />
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ReleaseDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ReleaseDate)
                        @Html.ValidationMessageFor(model => model.ReleaseDate)
                    </div>


                   

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/angular.min.js"></script>
    
<script src="~/Scripts/sixteenbars-artist-autocomplete.js"></script>
}
