@model sixteenBars.Library.Track

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div ng-app="TrackApp">
        <div ng-controller="TrackController">
            <form name="trackForm">
                <fieldset>
                    <legend>Track</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>


                    <div class="editor-label">Artist</div>
                    <div class="editor-field">
                        <input type="text" id="artistName" ng-keyup="autoCompleteArtist()" ng-model="artistName" placeholder="Artist Name" required />
                        <span style="color:red;" ng-show="trackForm.artistName.$dirty && trackForm.artistName.$invalid">
                            <span ng-show="trackForm.artistName.$error.required">
                                Artist Name is required.
                            </span>
                        </span>
                    </div>

                    <div ng-repeat="artist in artists">
                        {{artist.Name}}
                    </div>



                    <div class="editor-label">
                        @Html.LabelFor(model => model.ReleaseDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ReleaseDate)
                        @Html.ValidationMessageFor(model => model.ReleaseDate)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DateCreated)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DateCreated)
                        @Html.ValidationMessageFor(model => model.DateCreated)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DateModified)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DateModified)
                        @Html.ValidationMessageFor(model => model.DateModified)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Enabled)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled)
                    </div>

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/angular.min.js"></script>
    
<script src="~/Scripts/sixteenbars-artist-autocomplete.js"></script>
}
