@model sixteenBars.Library.Track

<h1>Delete Track</h1>
<h2>@ViewBag.ErrorMessage</h2>
@if (Model != null)
{
    <h3>Are you sure you want to delete the track named '@Html.Raw(Model.Title)' from the album titled '@Html.Raw(Model.Album.Title)'?</h3>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btn" />
            @Html.ActionLink("Cancel", "Index", "Track",null, new { @class = "btn btn-inverse" })
        </p>
    }
}
else
{
    <p>Track Not Found</p>
}

