@model sixteenBars.Library.Track


<h2>Delete</h2>
@if (Model != null)
{
<h3>Are you sure you want to delete this track?</h3>
<fieldset>
    <legend>Track</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        From Album
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Album.Title)
    </div>
    <div class="display-label">
        Artist
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Album.Artist.Name)
    </div>




   
</fieldset>
    
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }


}
else
{
<p>Track Not Found</p>
}

