@model sixteenBars.Library.Track

<h1>Track Details</h1>
@if(Model != null){


    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <div id="trackApp">
        <div ng-controller="AlbumController">
            <div class="row lower-details">

                <div class="col-md-3 albumArt">
                    <div class="ng-cloak notAvailable" ng-cloak ng-show="amzNoProductFound">
                        Album Art Not Found
                    </div>
                    <img class="ng-cloak" ng-cloak ng-show="amzProductFound" src="{{amzAlbumArt}}" />
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>
                            Album :</strong>
                            @Html.ActionLink(@Model.Album.Title, "details", "album", new { id = @Model.Album.Id }, null)</p>

                    <p>
                        <strong>
                            Artist :
                        </strong>

                        @Html.ActionLink(@Model.Album.Artist.Name, "details", "artist", new { id = @Model.Album.Artist.Id }, null)
                    </p>

                    <p>
                        <strong>
                            Album Release Date :
                        </strong>

                        @String.Format("{0:MM/dd/yyyy}", Model.ReleaseDate)
                    </p>


                            <div class="ng-cloak" ng-cloak ng-show="amzProductFound">
                                <hr />
                                <h4>Get This Track</h4>
                                <div ng-repeat="product in amzProducts">
                    <p>
                        <a href="{{product.URL}}" target="_blank">{{product.Title}}<br /><img src="~/Images/buy2._V192207737_.gif" alt="buy from amazon.com" /></a>
                    </p>
                </div>
                    </div>
                </div>
            </div>


            @Html.TextBoxFor(model => model.Title, new { ng_model = "amzTitle", ng_init = string.Format("amzTitle = '{0}'", Url.Encode(Model.Title) + " " + Url.Encode(Model.Album.Title)), style = "display:none;" })
            @Html.TextBoxFor(model => model.Album.Artist.Name, new { ng_model = "amzArtistName", ng_init = string.Format("amzArtistName = '{0}'", Url.Encode(Model.Album.Artist.Name)), style = "display:none;" })
            <input type="hidden" ng-model="amzType" ng-init="amzType='track'" />


            </div>
        </div>
            <div>
                @Html.ActionLink("Back to List", "Index", "Track", new { @class = "btn btn-back" })
                @if (User.IsInRole("admin") || User.IsInRole("editor")){
                    @: &nbsp;
                    @Html.ActionLink("Edit", "Edit", "Track", new { id = Model.Id }, new { @class = "btn btn-edit" })
                    if (User.IsInRole("admin"))
                    {
                    @: &nbsp;
                    @Html.ActionLink("Delete", "Delete", "Track", new { id = Model.Id }, new { @class = "btn btn-remove" })
                    }
                }
            </div>
            @section Scripts{
                <script src="~/Scripts/sixteenbars-track-app.js"></script>
                <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
                <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
                <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
            }
            }else{
            <p>Track Not Found</p>
            }
