@model sixteenBars.Library.Track
@using sixteenBars.Library;
@if (Model != null)
{


    <h1>
        @Html.DisplayFor(model => model.Title)
    </h1>
    <div id="trackApp">
        <div ng-controller="AlbumController">
            <div class="row lower-details" style="padding-top:0;">

                @if (!String.IsNullOrWhiteSpace(Model.Video))
                {
                    <div class="embed-responsive embed-responsive-16by9 col-md-7">
                        @Html.Raw(Model.Video)
                    </div>
                }
                else if (!String.IsNullOrWhiteSpace(Model.Album.Image))
                {
                    <div class="col-md-7 albumArt">
                        <img src="@Html.Raw(Model.Album.Image)" />
                    </div>
                }
                else if (!String.IsNullOrWhiteSpace(Model.Album.Artist.Image))
                {
                    <div class="col-md-7 albumArt">
                        <img src="@Html.Raw(Model.Album.Artist.Image)" />
                    </div>

                }
                else
                {
                    <div class="col-md-7 albumArt">
                        <img src="@Html.Raw(ViewBag.AlbumImage)" />
                    </div>

                }
                <div class="col-md-5" style="padding-top:15px;">
                    <p>
                        <strong>
                            Album :
                        </strong>
                        @Html.ActionLink(Model.Album.Title, URLClean.Clean(Model.Album.Artist.Name) + "/" + URLClean.Clean(Model.Album.Title), "Albums")
                    </p>

                    <p>
                        <strong>
                            Artist :
                        </strong>

                        @Html.ActionLink(Model.Album.Artist.Name, URLClean.Clean(Model.Album.Artist.Name), "Artists")
                    </p>

                    <p>
                        <strong>
                            Album Release Date :
                        </strong>

                        @String.Format("{0:MM/dd/yyyy}", Model.ReleaseDate)
                    </p>
                     <div>
                         @Html.ActionLink("Back to List", "Index", "Track", null, new { @class = "btn btn-back" })
                         @if (User.IsInRole("admin") || User.IsInRole("editor"))
                         {
                             @: &nbsp;
                             @Html.ActionLink("Edit", "Edit", "Track", new { id = Model.TrackId }, new { @class = "btn btn-edit" })
                             if (User.IsInRole("admin"))
                             {
                                 @: &nbsp;
                                 @Html.ActionLink("Delete", "Delete", "Track", new { id = Model.TrackId }, new { @class = "btn btn-remove" })
                             }
                         }
                     </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
        
            @section Scripts{
                <script src="~/Scripts/sixteenbars-track-app.js"></script>
                <script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
                <script src="~/Scripts/sixteenbars-exist-functions.js"></script>
                <script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
            }
}
else
{
    <p>Track Not Found</p>
}
