@model sixteenBars.Library.Track

<h1>Track Details</h1>
@if(Model != null){


    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>

    <div class="row lower-details">
        <div class="col-md-4">
                Album : 
                @Html.ActionLink(@Model.Album.Title, "details", "album", new { id=@Model.Album.Id }, null)
            </div>
            
        <div class="col-md-4">
            Artist : 
        
                @Html.ActionLink(@Model.Album.Artist.Name, "details", "artist", new { id=@Model.Album.Artist.Id},null)
            </div>
            
        <div class="col-md-4">
            Album Release Date : 
        
                @String.Format("{0:MM/dd/yyyy}", Model.ReleaseDate)
            </div>
        </div>

            <div>
                @Html.ActionLink("Back to List", "Index", "Track", new { @class = "btn btn-back" })
                @if (User.IsInRole("admin") || User.IsInRole("editor")){
                    @: &nbsp;
                    @Html.ActionLink("Edit", "Edit", "Track", new { id = Model.Id }, new { @class = "btn btn-edit" })
                    @: &nbsp;
                    @Html.ActionLink("Delete", "Delete", "Track", new { id = Model.Id }, new { @class = "btn btn-remove" })
                }
            </div>

            }else{
            <p>Track Not Found</p>
            }
