@model sixteenBars.Library.Track
@Styles.Render("~/Content/themes/base/css")


<h1>Edit Track</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.ErrorMessage</h2>
    <div class="form">
        

        @Html.HiddenFor(model => model.TrackId)

        <div class="form-label">
            @Html.LabelFor(model => model.Enabled)
        </div>
        <div class="form-element">
            @Html.EditorFor(model => model.Enabled)
        </div>
        <div class="form-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="form-element">
            @Html.TextBoxFor(model => model.Title,new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div id="trackApp">
            <div ng-controller="AlbumController">
                <div class="form-label">
                    <label for="AlbumTitle">Album Title</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Album.Title, new { ng_model = "albumTitle", ng_keyup = "autoCompleteAlbum()", ng_init = string.Format("albumTitle = '{0}'", Model.Album.Title),@class="form-control" })
                    @Html.ValidationMessageFor(model => model.Album.Title)

                    <div class="suggestions album-suggestions">
                        <p><strong>Suggested Album(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Albums Found</p>
                        <div class="suggestion" ng-repeat="album in albums">
                            <div ng-click="selectSuggestedAlbum(album.Title,album.ReleaseDate,album.Artist.Name,'albumTitle','ReleaseDate','artistName')" class="suggested-artist">{{album.Title}}</div>
                        </div>
                    </div>

                </div>
                

                <div class="form-label">
                    <label for="AlbumArtistName">Artist</label>
                </div> 
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Album.Artist.Name, new { ng_model = "artistName",ng_blur="existTrack()", ng_keyup="autoCompleteArtist('artistName')",ng_init = string.Format("artistName = '{0}'", Model.Album.Artist.Name), @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Album.Artist.Name)

                    <div class="suggestions artist-suggestions">
                        <p><strong>Suggested Artist(s)</strong><span style="float:right;" class="close glyphicon glyphicon-remove-circle"></span></p>
                        <img class="loading" src="~/Images/loading.gif" alt="loading" />
                        <p class="empty">No Artists Found</p>
                        <div class="suggestion" ng-repeat="artist in artists">
                            <div ng-click="selectSuggestedArtist(artist.Name,'artistName')" class="suggested-artist">{{artist.Name}}</div>
                        </div>
                    </div>
                </div>


                <div class="form-label">
                    <label for="ReleaseDate">Track Release Date</label>
                </div>
                <div class="form-element">
                    @Html.TextAreaFor(model => model.ReleaseDate, new { ng_model = "releaseDate", ng_init = string.Format("releaseDate = '{0}'", Model.ReleaseDate != null ? Model.ReleaseDate.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy")), @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReleaseDate)
                </div>

                <div class="form-label">
                    <label for="trackVideo">Track Video</label>
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Video, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Video)
                </div>
                <div class="form-label">
                    @Html.LabelFor(model => model.VideoCopyright)
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.VideoCopyright, new { @class = "form-control" })
                </div>

                <div class="form-label">
                    @Html.LabelFor(model => model.Order)
                </div>
                <div class="form-element">
                    @Html.TextBoxFor(model => model.Order, new { @class = "form-control", @type="number", @min="1" })
                    @Html.ValidationMessageFor(model => model.Order)
                </div>

                </div>
            </div>
        @Html.Hidden("previousTrack", Model.ToString())
        <div style="margin:15px 0">
            <input type="submit" value="Save" class="btn" />
            @Html.ActionLink("Cancel", "Index", "Track",null, new { @class = "btn btn-inverse" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var minimumDate = new Date(1978, 1 - 1, 1);
            var today = new Date();
            var maximumDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
            $("#ReleaseDate").datepicker({ minDate: minimumDate, maxDate: maximumDate });
        });
    </script>

<script src="~/Scripts/sixteenbars-track-app.js"></script>
<script src="~/Scripts/sixteenbars-autocomplete-functions.js"></script>
<script src="~/Scripts/sixteenbars-exist-functions.js"></script>
<script src="~/Scripts/sixteenbars-album-autocomplete.js"></script>
}
