@model PagedList.IPagedList<sixteenBars.Models.TrackIndexViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>Tracks</h2>

@if (User.IsInRole("admin") || User.IsInRole("editor")) {
    <p>
        @Html.ActionLink("Add Track", "Create","Track", new { @class = "btn btn-add" })
    </p>
}

@if (Model.PageCount > 0)
{

    <div class="index-list">

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Title)<br />@Html.ActionLink("details", "Details", new { id = item.Id })
                </div>
                <div class="col-md-4">
                    Album : @Html.ActionLink(item.AlbumTitle, "Details", "Album", new { id = item.AlbumId }, null)
                </div>
                <div class="col-md-3">
                    Artist : @Html.ActionLink(item.ArtistName, "Details", "Artist", new { id = item.ArtistId }, null)

                </div>

                <div class="col-md-1">

                    @if (User.IsInRole("admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                        if (item.IsDeleteable)
                        {
                            @:<br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    }
                </div>

            </div>
        }
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        <div class="clearfix"></div>
    </div>
}
else
{
    <p>No Tracks Found</p>

}
